<h2><%= @cuisine.name %></h2>
<%= image_tag @cuisine.image, :class => 'feature' %>
<ul>
  <li>Cuisine: <%= @cuisine.name %></li>

</ul>

<% @cuisine.each do |c| %>
  <ul>
    <li><%= c.chef.name  %></li>
  </ul>
<% end %>
