<h1>All Bookings</h1>
<% @bookings.each do |booking| %>


When: <%= link_to booking.when, bookings_path %><br>
Address: <%= link_to booking.address, bookings_path %><br>


<div class="controls">
  <%= link_to 'Edit booking', edit_booking_path(booking.id) %>
  <%= link_to 'Delete booking', booking_path(booking.id), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<% end %>
