/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   padding: 0 0.5vw;
 }

 .thumb {
   width: 30vw;
 }

.logo {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}

.navbar {
  background-color: #7AB80D;
}

.nav-item {
  color: #000000;
}

.item {
  width: 20%;
  display: inline-block;
}

.item .photo {
  height: 20vh;
  background-size: cover;
}

.feature {
  width: 50%;
}

.user-container {
  display: grid;
  /* justify-content: center; */
  grid-template-columns: auto auto auto;
  grid-template-rows: 350px 350px 350px 350px;
  /* text-align: center; */
}

.user-item {
  min-width: auto;
  min-height: auto;
  padding: 10px;
  height: 100%;
  position: relative;
}

.user-item .user-photo {
  height: 50%;
  background-size: cover;
}
